*, html {
    padding: 0;
    margin: 0;

}

@media screen and (max-width:640px) {
    .kontainter-SingleContent {
        height: auto;
        width: 100%;
        overflow-x: hidden;
        min-height: 80vh;
    }

    .judul-SingleContent {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
        /* background-color: antiquewhite; */
        padding: 10px;
    }

    .item-judul-SingleContent {
        width: 80%;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
    }

    .product-SingleContent {
        width: 100%;
        padding: 10px 0px;
        display: flex;
        height: auto;
        justify-content: center;
    }

    .item-product-SingleContent {
        width: 30%;
        display: flex;
        flex-direction: column;
        list-style: none;
        /* background: blue; */
        padding: 10px;
    }

    .item-product-SingleContent img {
        width: 100%;
    }

    .infostock-item-product-SignleContent {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .item2-product-SingleContent {

        width: 50%;
        list-style: none;
        background-color: rgba(216, 215, 215, 0.861);
        border-radius: 10px;
        padding: 10px;
    }

    .subjudul-item2-product-SingleContent {
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: space-between;
    }


    .promotioncode-SingleContent {
        width: 100%;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        border: 1px solid black;
        /* background-color: antiquewhite; */
        background: rgb(0, 166, 255);
        border-radius: 10px;

    }

    .item-promotioncode-SingleContent {
        padding: 10px;
        width: 80%;
        display: flex;
        flex-direction: column;
        /* background-color: aliceblue; */
    }

    .kodepromo-item-promotioncode-SingleContent {
        width: 100%;
        /* background: rebeccapurple; */
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }

    #inputkodepromo, #button-kodepromo {
        padding: 5px;
    }

    .ul-infopembayaran-item-promotioncode-SingleContent {
        width: 100%;
        /* background-color: green; */
        list-style: none;
        display: flex;
        justify-content: end;
        align-items: center;
        /* margin: 10px; */
        /* padding: 10px; */
    }

    .ul-infopembayaran-item-promotioncode-SingleContent li {
        list-style: none;
        /* margin: 10px; */
        padding: 10px;

    }

    .subitem-ul-infopembayaran-item-promotioncode-SingleContent {
        width: 100%;
        /* background-color: bisque; */
    }

    .li-subitem-ul-infopembayaran-idem-promotioncode-SingleContent {
        /* width: 100%; */
        display: flex;

        justify-content: space-between;
    }

    .li-subitem-ul-infopembayaran-idem-promotioncode-SingleContent h5 {
        /* width: 50%; */
        margin: 0px 5px;
        /* background-color: aliceblue; */
    }


    .checkout-SingleContent {
        width: 100%;
        height: auto;
        min-height: 11.7vh;
        background: whitesmoke;
        display: flex;
        justify-content: center;
    }

    .item-checkout-SingleContent {
        width: 80%;

        /* background: aliceblue; */
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .content2-item-checkout {
        justify-content: space-around;
        align-items: center;
    }

    .item-checkout-SingleContent button {
        padding: 10px;
    }

    #checkout-item-checkout-SingleContent {
        background: rgb(66, 130, 66);

        border-radius: 10px;
        padding: 10px 20px;
        color: white;

    }

    #back-item-checkout-SingleContent {
        background: rgb(198, 0, 0);
        color: white;
        border-radius: 10px;
        padding: 10px 30px;

    }

    #Loading_notification {
        display: none;
    }

    .checkout-notificatoin {
        width: 100%;
        height: 100vh;
        /* position: absolute; */
        top: 0;
        position: fixed;

        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.633);
        /* opacity: 10%; */
    }

    .checkout-notificatoin ul {
        padding-bottom: 5px;
        /* padding-right: 5px; */
        border: 1px solid black;
        width: 50%;
        overflow: hidden;
        opacity: 100%;
        background: rgb(255, 255, 255);
        height: auto;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* overflow: hidden; */

    }

    .checkout-notificatoin ul li {
        width: 100%;
        display: flex;
        /* display: subgrid; */
        /* background-color: aliceblue; */
    }

    .judul-checkout-notification {
        /* padding: 10px 20px; */
        display: flex;
        background-color: rgba(47, 129, 252, 0.758);

    }

    .deskripsi-checkout-notification {
        display: flex;
        flex-direction: column;
        /* padding: 10px 20px; */
        padding-left: 20px;
    }

    .loading_otp {

        padding: 20px 0px;
        width: 100%;
        font-size: 25px;
        text-align: center;
    }

    .deskripsi-checkout-notification h4 {
        margin-top: 10px;
        font-weight: normal;
        width: 90%;
        font-family: 'Times New Roman', Times, serif;
    }

    .deskripsi-checkout-notification input {
        width: 80%;
        margin: 10px 0px;
        padding: 5px 0px;
    }

    .judul-checkout-notification h3 {
        padding: 10px 20px;

    }

    .back-checkout-notification {
        display: flex;
        padding-top: 7px;
        border-top: 2px solid black;
        justify-content: space-around;

    }

    .back-checkout-notification button {
        padding: 5px 20px;
        background: blue;
        color: white;
        border-radius: 5px;
        margin: 0px 10px;
    }

    .back-checkout-notification button:nth-child(1) {
        background: rgb(128, 0, 0);
    }


    .precheckout-product {
        width: 100%;
        height: auto;
        display: none;
        flex-direction: column;
        /* background: black; */
    }

    .precheckout-product h3 {
        width: 100%;
        text-align: center;
        /* padding: 10px 0px; */
        padding-top: 10px;

    }

    .form-precheckout-product {
        width: 100%;

        min-height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .wrapper-form-precheckout-product {
        width: 100%;
        margin: 10px 0px;
        display: flex;
        height: auto;
        justify-content: center;
        /* background: red; */
        align-items: center;
    }

    .input-form-precheckout-product {
        width: 50%;
        /* background: red; */
        display: flex;

        flex-direction: column;
        align-items: center;
    }

    .input-form-precheckout-product input {
        margin: 10px 0px;
        padding: 3px 0px;
        border: none;
        background: none;
        border-bottom: 1px solid whitesmoke;
        color: rgb(26, 26, 26);
        background: none;

    }

    .input-form-precheckout-product input::placeholder {
        color: white;
    }

    .textarea-form-precheckout-product {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textarea-form-precheckout-product textarea {
        width: 100%;
        border-radius: 10px;
        padding: 2px 5px;
    }


}
