.checkout-item-whatsappblaster {
    /* background: white; */
    height: auto;
    min-height: 40vh;
    width: 98%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.checkout-item-whatsappblaster h1 {
    text-align: center;
    width: 100%;

    /* background: rebeccapurple; */
}

.card-checkout-item-whatsappblaster {
    margin: 20px 0px;
    min-width: 18%;
    /*background-color: rgb(79, 79, 79);
    */
    border-right: 2px solid whitesmoke;
    min-height: 20vh;
    width: 100%;
    border-radius: 10px;
    color: whitesmoke;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-checkout-item-whatsappblaster ul {

    list-style: circle;
    width: 100%;
    /* background: red; */
    padding-left: 20px;
}

.kontainerform-checkout-item-whatsappblaster {
    width: 100%;
    /* min-height: auto; */
    display: flex;
    margin-top: 100px;
    justify-content: center;

    align-items: center;
    margin-bottom: 10%;
}

.form-checkout-item-whatsappblaster {
    width: 90%;
    height: auto;
    /* background-color: aliceblue; */
}

.form-checkout-item-whatsappblaster h1 {

    width: max-content;
    /* background: red; */
    border-bottom: 1px solid rgb(0, 0, 0);
    color: black;
    padding-bottom: 5px;
}

.input-data-from-checkout {

    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */

    justify-content: space-around;
    margin-top: 20px;
}

.input-data-from-checkout-konten {

    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */

    justify-content: space-around;
    margin-top: 20px;
}

.input-data {
    /* height: 200px; */
    width: 100%;
    display: flex;
    margin: 10px 10px;
    border-right: 1px solid whitesmoke;
    flex-direction: column;
    height: auto;

    /* background-color: red; */
    justify-content: center;
    align-items: center;
}


.input-data select {
    padding: 10px 0px;
    border-radius: 5px;
    margin: 20px 0px;
    border: none;
    /* color: rgba(245, 245, 245, 0.566); */
    background: none;
    border-bottom: 1px solid rgb(0, 24, 45);
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;

    -o-border-radius: 5px;
}

.input-data select option {
    color: black;
}

.input-data input {
    padding: 10px 5px;
    border-radius: 5px;
    margin: 20px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(0, 24, 45);
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* color: whitesmoke; */
}

.input-data input::placeholder {
    color: black;
}

.input-data label {
    padding: 0px 5px;
    border-radius: 5px;

    border: none;
    background: none;

    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* color: whitesmoke; */
}

.input-data label input {
    padding: 10px 0px;
    border-radius: 5px;
    margin: 20px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(0, 24, 45);
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* color: whitesmoke; */
}

.deskripsi-product {
    width: 100%;

    /* background: rebeccapurple; */
}

.deskripsi-product textarea {
    width: 100%;
    resize: none;
    background: none;
    color: black;
    outline: none;

}

.submit-form-whatsappblaster {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}

.submit-form-whatsappblaster button {
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: whitesmoke;
    background: rgb(0, 24, 45);
    margin-right: 10px;
    border: 1px solid rgb(70, 70, 70);
}